.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d6d6d6;
}

#light {
  background-color: #996ca9;
}

#dark {
  background-color: #46045e;
}

body {
  margin: 0;
  padding: 0;
}

body .main {
  min-width: 600px;
  max-width: 750px;
  min-height: 200px;
  padding-bottom: 1%;
  border-radius: 2em;
  box-shadow: 0px 11px 35px 2px rgba(4, 4, 4, 0.14);
}

#light .main {
  background-color: #fff;
}

#dark .main {
  background-color: #38004c;
}

.sign {
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

#light .sign {
  color: #8c55aa;
}

#dark .sign {
  color: #ffffff;
}

.stringInput {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.form {
  width: 100%;
  height: 100%;
  padding-left: 4%;
}

.formUpload {
  width: 100%;
  height: 100%;
}

.sslLabel {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1px 40px;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
}

.piocLabel {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1px 40px;
  margin-bottom: 40px;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
}

.layerName {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.noData {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.combinatorName {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#light .hostAddress,
#light .portNumber {
  color: rgb(38, 50, 56);
  background: rgba(136, 126, 126, 0.04);
}

#dark .hostAddress,
#dark .portNumber {
  color: rgb(254, 255, 255);
  background: rgba(255, 247, 247, 0.299);
}

.hostAddress:focus,
.portNumber:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: white;
  background: #474747;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 7%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 76%;
}

.submitBig {
  cursor: pointer;
  border-radius: 5em;
  color: white;
  background: #474747;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 33%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submitMed {
  cursor: pointer;
  border-radius: 5em;
  color: white;
  background: #474747;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 30%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.download {
  cursor: pointer;
  border-radius: 5em;
  color: white;
  background: #474747;
  border: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submitFile {
  cursor: pointer;
  border-radius: 5em;
  color: white;
  background: #474747;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 8%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  width: 76%;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .main {
    border-radius: 0px;
  }
}

.display-linebreak {
  white-space: pre-line;
}

.results {
  max-height: 400px;
  width: 85%;
  padding-left: 3%;
  overflow-y: auto;
}
.results table {
  border-collapse: collapse;
  padding-left: 4%;
  width: 100%;  
}
.results table td:first-of-type {
  width: 75%;
}
.results table td {
  text-align: left;
  padding-left: 6%;
}
.results .no-results {
  padding: 5px;
  text-align: center;
}
.results tr:hover {
  background-color:#996ca9;
  transition: 0.5s;
  border:none;
}

.results td {
  width: 50%;
}

.management {
  max-height: 400px;
  width: 85%;
  padding-left: 6%;
  overflow-y: auto;
}
.management table {
  border-collapse: collapse;
  padding-left: 4%;
  width: 100%;  
  
}
.management table td:first-of-type {
  width: 50%;
  text-align: left; 
}
.management table td {
  text-align: left;
  padding-left: 0%;
  text-align: center; 
  vertical-align: middle;
}
.management .no-results {
  padding: 5px;
  text-align: center;
}
.management tr:hover {
  background-color:#996ca9;
  transition: 0.5s;
  border:none;
}

.management td {
  width: 100%;
}
